<html>
    <head>
        <style>
            button {
			background-color: #4CAF50; /* Green */
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			}

        </style>
    </head>
    <body>
        <a href="/java/" ><button>Java Asignment</button></a> &emsp; &emsp; &emsp;
        <a href="/python/" ><button>Python Asignment</button></a> &emsp; &emsp; &emsp;
        <a href="/sql/" ><button>SQL Asignment</button></a> &emsp; &emsp; &emsp;
    </body>
</html>